/* Global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 2000px;
  padding: 0 50px;
}

#introDuction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-picture {
  width: 2.5in;
  height: 2.5in;
  display: block;
}
#profile-picture img {
  width: 100%;
  height: 100%;
}

.contact-info {
  display: block;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 30px;
}

/* Skills section */

#skills {
  display: flex;
  justify-content: space-evenly;
}

#skills ul {
  align-items: center;
}

#skills li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

#skills li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Main content */

.column {
  flex-basis: 45%;
}

h3 {
  font-size: 2rem;
}

p,
ul {
  font-size: 1.5rem;
}

ul li span {
  font-size: 1.5rem;
}

svg {
  position: relative;
  top: 10px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.objectives > p {
  margin-left: 50px;
  line-height: 1.5em;
}

.experience .icon,
.education .icon {
  width: 100px;
  height: auto;
}

.education li,
.experience li {
  margin: 20px 0;
}

.experience > .job h3,
.experience p {
  margin-left: 110px;
}

.certifications h3,
.certifications p,
.awards > h3,
.awards p {
  margin-left: 110px;
}

.certifications p {
  margin-top: -25px;
}

#viewMoreCert {
  margin: 50px 0;
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

.icon {
  display: block;
  position: absolute;
  float: left;
  width: 80px;
  height: auto;
}

#job2,
#job3 {
  margin-top: 50px;
}

.education > h3 {
  margin-left: 120px;
}

span {
  font-weight: 500;
}
